name: Github Actions Demo
on: [push]
jobs: 
  Explore-Github-Acitons:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Hello Github Actions Print
        run: | 
          echo "Hello to use github actions"
          echo ${{secrets.ACCESS_TOKEN.ACCESS}}
